
html {
    font-family: cursive;
    text-align: center;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header, main, footer, aside {
    position: fixed;
}

header, footer {
    width: 100%;
    height: 10%;
}

aside, main {
    top: 10%;
    height: 80%;
}

aside {
    width: 20%;
}

aside#help {
    left: 0;
}

aside#inventory {
    right: 0;
}

aside#location {
	left: 0;
	top : 400;
}
aside#name {
	left: 0;
	top : 750;
	font-size : 20pt;
}


main {
    width: 60%;
    left: 20%;
    text-align: center;
}

output {
    display: block;
    margin: auto;
    height: 50%;
    padding: 5%;
    border: 3px groove gray;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.75)
}

output, input {
    font-size: 230%;
    font-family: cursive;
}

main > section {
    margin: 2em;
}



footer {
    top: 90%;
}

